{{ define "main" }}
<div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <div class="post-content">
        {{ if .Params.thumbnail }}
        <img class="post-thumbnail" src="{{ .Params.thumbnail | absURL }}" alt="Thumbnail image">
        {{ end }}
        <div class="post-title">
            {{ $title_delim := "," }}
            {{ $title_sections := split .Title $title_delim }}
            <h1 id='review_titles'>
                {{ range $i, $val := $title_sections}}
                <text id='review_title_{{$i}}' {{ if eq $i 0}}class='active-review-title' {{ end }}
                    onclick='switch_review(this)' style="cursor: pointer;">{{ trim $val " "}}</text>
                {{ if lt $i (sub (len $title_sections) 1)}}|{{ end }}
                {{ end }}
            </h1>
        </div>
    </div>
    <hr />
    <div class="post-content">
        {{ $section_delim := "<split-peoples>" }}
            {{ $content_sec := split .Content $section_delim }}
            <div id="content">
                {{ range $i, $val := $content_sec}}
                <div id='review_content_{{$i}}' {{ if gt $i 0}}class='hidden' {{ end }}>
                    {{ $val | $.Page.RenderString }}
                </div>
                {{ end }}
            </div>
            {{ if isset .Params "review_form" }}
            <div>
               Leave a Review: <a href='{{.Params.review_form}}'>here</a>.  
            </div>
            {{ end }}
            {{ partial "contact.html" . }}

            <div>
                <img src="/gifs/uwu-no-bg.gif" style="width: 50px;vertical-align: middle;" alt="">
                ps. you can click the title to see other reviews
            </div>
    </div>
</div>
{{ end }}